<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <FooBarQix/>
  </div>
</template>

<script>
import FooBarQix from "@/components/FoorBarQix";

export default {
  name: 'App',
  components: {
    FooBarQix
  }
}
</script>

<style lang="scss">
@import 'assets/scss/main';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
