<template>
  <div>
    <span class="is-size-4 has-text-weight-bold">FOO BAR QIX CONVERTER </span>

    <form id="form" @submit.prevent="search">
      <b-input v-model="input" type="number" class="m-auto" style="width: 25%"></b-input>
    </form>

    <b-button native-type="submit"
              form="form"
              :rounded="true"
              label="rechercher"
              class="is-success mt-3 mb-5"
              id="btn-rooming_list-save_rl"/>

    <div>
      <span class="is-size-4 has-text-weight-bold has-text-primary">{{ result }}</span>

    </div>

    <br>

    <div>
      <span>Historique:</span>

      <div v-for="h in history" :key="h.input+h.result">
        {{ h.input }} => <span class="is-size-4 has-text-weight-bold">{{ h.result }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: 'FooBarQix',
  data() {
    return {
      input: "",
      result: "",
      history: []
    }
  },
  created() {
    axios.get("http://localhost:8080/api/history").then(response => {
      this.history = response.data;
    });
  },
  methods: {
    search() {
      axios.get("http://localhost:8080/api/foobarqix/" + this.input).then(response => {
        this.result = response.data;
        this.history.unshift({input: this.input, result: response.data})
      })
    }
  }

}
</script>

<style scoped>

</style>
